SMTP_HOST_NAME=0.0.0.0
SMTP_PORT=587
MAIL_FROM=from@mail.ru
MAIL_PASSWORD=fromMailPassword

MAIL_TO=to1@mail.ru,to2@mail.ru,to3@mail.ru,to4@mail.ru

RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=pass